.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--text);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0;
    margin-right: 20px;
}

.sidebar-title {
    font-family: var(--font-sans);
    font-size: 1.5rem;
}

.sidebar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar-links a {
    color: var(--text);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: var(--font-sans);
    margin-bottom: 10px;
}
.sidebar-links a:hover {
    background-color: var(--color-accent);
}

.sidebar-header {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
    
}
.sidebar-logo {
    width: 50px;
}